<template>
  <div class="carrossel"
    v-touch:swipe.left="proximoItem"
    v-touch:swipe.right="itemAnterior"
    @mouseover="hover = true"
    @mouseleave="hover = false"
  >
    <div class="carrossel__container" id='carrossel-itens' :style="{ transform: 'translate3d('+ posicaoCarrossel + 'px, 0, 0)'}">
      <div class="carrossel__item" :style="{ width: tamanhoCarrossel + 'px'}" v-for="(item, index) in data" :key=index>
        {{ item.titulo }}
      </div>
    </div>
    <button class="carrossel__prox" v-if="totalItens > 1 && totalItens != itemAtivo" @click="proximoItem">Próximo</button>
    <button class="carrossel__ant" v-if="totalItens > 1 && itemAtivo > 1" @click="itemAnterior">Anterior</button>
    <div class="carrossel__bullet-container" v-if="totalItens > 1">
      <button
      v-for="(item, index) in data"
      @click="itemBullet(index)"
      :class="itemAtivo == index + 1 ? 'carrossel__bullet carrossel__bullet--ativo' : 'carrossel__bullet'"
      :key=index></button>
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import Vue2TouchEvents from 'vue2-touch-events'
Vue.use(Vue2TouchEvents)
export default {
  data() {
    return {
      windowWidth: window.innerWidth,
      tamanhoCarrossel: 0,
      data: [
        {
          titulo: 'Item 1'
        },
        {
          titulo: 'Item 2'
        },
        {
          titulo: 'Item 3'
        },
      ],
      posicaoCarrossel: 0,
      totalItens: 0,
      itemAtivo: 1,
      hover: false,
      tempo: 6000
    }
  },
  watch: {
    windowWidth() {
      this.carrega()
    }
  },
  mounted: function() {
    window.addEventListener('resize', () => {
      this.windowWidth = window.innerWidth
    })
    this.carrega()
    if(this.totalItens > 1) {
      setInterval( () => { this.tempoItem() }, this.tempo )
    }
  },
  methods: {
    carrega() {
      this.tamanhoCarrossel = document.getElementById("carrossel-itens").offsetWidth
      this.totalItens = document.getElementById("carrossel-itens").childElementCount
    },
    proximoItem() {
      if( this.itemAtivo != this.totalItens ) {
        this.itemAtivo = this.itemAtivo + 1
        this.posicaoCarrossel = this.posicaoCarrossel - this.tamanhoCarrossel
      }
    },
    tempoItem() {
      if( !this.hover ) {
        if( this.itemAtivo != this.totalItens ) {
          this.itemAtivo = this.itemAtivo + 1
          this.posicaoCarrossel = this.posicaoCarrossel - this.tamanhoCarrossel
        } else {
          this.itemAtivo = 1
          this.posicaoCarrossel = 0
        }
      }
    },
    itemAnterior() {
      if( this.itemAtivo != 1 ) {
        this.itemAtivo = this.itemAtivo - 1
        this.posicaoCarrossel = this.posicaoCarrossel + this.tamanhoCarrossel
      }
    },
    itemBullet(numero) {
      this.itemAtivo = numero + 1
      if(numero == 0) {
        this.posicaoCarrossel = 0
      } else {
        this.posicaoCarrossel = -Math.abs(this.tamanhoCarrossel * numero)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.carrossel {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  &__container {
    width: 100%;
    height: 350px;
    display: flex;
    box-sizing: content-box;
    position: relative;
    transition: all ease-in-out .6s;
  }
  &__item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    transition-property: transform;
    flex-shrink: 0;
    z-index: 1;
    background: #ccc;
  }
  &__prox {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &__ant {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  &__bullet-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding: 20px;
  }
  &__bullet {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    padding: 0 10px;
    border-radius: 100%;
    box-shadow: none;
    border: 2px solid #000;
    padding: 0;
    &:focus {
      outline: none;
    }
    &:last-child {
      margin-right: 0;
    }
    &--ativo {
      background: #000;
    }
  }
}
</style>